singularity.enabled = true

process {
    container = 'oras://community.wave.seqera.io/library/fastqc_multiqc_salmon:cd9cd36ecd0a3e71'
    
    errorStrategy = 'retry'
    maxRetries = 3

    executor = 'slurm'
    clusterOptions = '--account=PAS1568'

    cpus = { 2 * task.attempt }

    time = 5.min
    memory = 8.GB

    withName: 'FASTQC' {
        time = 1.min
    }

}


profiles {
    standard {
        process.executor = 'local'
        process.cpus = 1
        process.memory = 1.GB
    }

    slurm {
        process.executor = 'slurm'
        process.clusterOptions = '--account=PAS1568'
        process.time = 1.min
        process.memory = { 4.GB * task.cpus }
        process.resourceLimits = [ time: 168.h ]
    }

}